{% extends 'base.html' %}

{% block head_extra %}
<style>
        
        .menu-container {
            background-color: white;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }

        h1 {
            margin-bottom: 30px;
            color: #333;
        }

        .menu-button {
            display: block;
            width: 200px;
            margin: 15px auto;
            padding: 12px;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            background-color: #333;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .menu-button:hover {
            background-color: #585858;
        }

        .alert-container {
            margin-top: 20px;
            text-align: center;
        }

        .alert {
            background-color: #f44336; /* Cor de fundo vermelha para o alert */
            color: white;
            padding: 15px;
            margin: 15px 0;
            border-radius: 5px;
            text-align: center;
            opacity: 1;
            transition: opacity 1s ease-out; /* Transição suave para o fade out */
        }

        .alert.danger {
            background-color: #f44336;
        }

        .alert.warning {
            background-color: #ff9800;
        }

        .alert.success {
            background-color: #4CAF50;
        }

        .alert.info {
            background-color: #2196F3;
        }

        .alert.fade-out {
            opacity: 0;
        }
</style>
{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-top: 50px;">Bem vindo, usuário!</h2>

    <!-- Alert de Acesso Restrito -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
